tests/org.eclipse.emf.test.xml/data/xsd/invalid/BadMaxExclusiveFacet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: BadMaxExclusiveFacet.xsd,v 1.2 2008/02/25 15:40:37 emerks Exp $
 */
-->
<xsd:schema
  targetNamespace="http://www.example.com/Bad"
  xmlns:this="http://www.example.com/Bad" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:simpleType name="badFacetForType" >
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cos-applicable-facets">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxExclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetRepeat">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-value">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive value="0"/>
            <xsd:maxExclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetRepeat">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-value">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxInclusive value="1"/>
            <xsd:maxExclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetExtraAttribute">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-value">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive value="0" bad="bad"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetMissingValue">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-value">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetValue">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-value">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive value="a"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetFixed">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-fixed">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive value="0" fixed="bad"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetRestriction">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-valid-restriction">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:maxExclusive value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:maxExclusive value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetRestrictionWithBaseMinExclusive">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-valid-restriction">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:minExclusive value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:maxExclusive value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetRestrictionWithMinInclusive">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-valid-restriction">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive value="2"/>
            <xsd:minInclusive value="2.000001"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetRestrictionFixed">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#dc-maxExclusive">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:maxExclusive value="2" fixed="true"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:maxExclusive value="1"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToDecimal">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:maxExclusive value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="3"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToDouble">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:double">
                    <xsd:maxExclusive value="3.0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="3.0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToFloat">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:float">
                    <xsd:maxExclusive value="3.0"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="3.0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToDuration">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:duration">
                    <xsd:maxExclusive value="P1D"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="P1D"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToDate">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:date">
                    <xsd:maxExclusive value="1999-10-26"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="1999-10-26"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToTime">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:time">
                    <xsd:maxExclusive value="13:20:00-05:00"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="13:20:00-05:00"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToDateTime">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:dateTime">
                    <xsd:maxExclusive value="1999-05-31T13:20:00-05:00"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="1999-05-31T13:20:00-05:00"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToGYear">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:gYear">
                    <xsd:maxExclusive value="1999"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="1999"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToGMonth">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:gMonth">
                    <xsd:maxExclusive value="--12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="--12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToGYearMonth">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:gYearMonth">
                    <xsd:maxExclusive value="1999-12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="1999-12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToGDay">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:gDay">
                    <xsd:maxExclusive value="---31"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="---31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="badMaxExclusiveFacetAppliedToGMonthDay">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#cvc-maxExclusive-valid">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:gMonthDay">
                    <xsd:maxExclusive value="--10-31"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:enumeration value="--10-31"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="okayMaxExclusiveFacetRestriction">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-valid-restriction">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction>
            <xsd:simpleType>
                <xsd:restriction base="xsd:decimal">
                    <xsd:maxExclusive value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:maxExclusive value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="okayMaxExclusiveFacetRestrictionWithMinExclusive">
        <xsd:annotation>
            <xsd:documentation source="http://www.w3.org/TR/xmlschema-2/#maxExclusive-valid-restriction">
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:maxExclusive value="2"/>
            <xsd:minExclusive value="2"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
