examples/org.eclipse.xsd.example/data/diagnostics/Other.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * <copyright>
 * </copyright>
 *
 * $Id: Other.xsd,v 1.1 2005/06/13 14:08:22 marcelop Exp $
 */
-->
<xsd:schema
  targetNamespace="http://www.example.com/Other"
  xmlns:this="http://www.example.com/Other" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="E"/>

    <xsd:attribute name="A"/>

    <xsd:attributeGroup name="AG">
        <xsd:anyAttribute namespace="##other"/>
    </xsd:attributeGroup>

</xsd:schema>
