tests/org.eclipse.emf.test.xml/data/xsd/unionEnum.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://unionenum.com" 
  xmlns="http://unionenum.com"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified">
  <xs:include schemaLocation="unions.xsd"/>
  
  <xs:element name="root">
   <xs:complexType>
    <xs:sequence>
     <xs:element name="elem">
       <xs:complexType>
         <xs:attribute name="classCode" type="A" use="optional"/>
       </xs:complexType>
      </xs:element>
    </xs:sequence>
   </xs:complexType>
  </xs:element>
   
</xs:schema>